/***************************************************Box-Component**********************************************************/

.Primary-Box
{
  width:80%;
  display: table;
  margin: 2% auto;
  padding: 10% 2%;
  background-color: aqua;
}
.Your-Profile-Photo
{
  width:100%;
  display: table-cell;
}